
registry=https://registry.npmjs.org/
@sap:registry=https://registry.npmjs.org

# Turn of package-lock.json file, to stay focused on the app content in the tutorial.
# For productive applications, make sure you do maintain such a file.
# See https://cap.cloud.sap/docs/node.js/best-practices#dependencies for more.
package-lock=false